fastapi
uvicorn
python-multipart
llama-index
llama-index-graph-stores-neo4j
llama-index-vector-stores-qdrant
llama-index-llms-gemini
llama-index-embeddings-gemini
google-genai
qdrant-client
neo4j
pandas
diskcache
pydantic
python-dotenv
watchdog
langchain
langchain-google-genai
